language: node_js

node_js:
  - "14"
  - "12"
  - "10"

install:
  - npm install -g codecov && npm install

script:
  - npm run coverage
  - npm run report-coverage

notifications:
  email:
    on_success: never
    on_failure: always